{% extends "base.html" %}
{% block body %}

  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="top-text header-text">
            <h6>Over 0 Active Listings</h6>
            <h2>Find Paper Your Years &amp; Notes</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <form id="search-form" name="gs" method="submit" role="search" action="#">
            <div class="row">
              <div class="col-lg-3 align-self-center">
                  <fieldset>
                      <select name="area" class="form-select" aria-label="Area" id="chooseCategory" onchange="this.form.click()">
                          <option selected>All Caurse</option>
                          <option value="BCA">BCA</option>
                          <option value="BA">BA</option>
                          <option value="BSc">BSc</option>
                      </select>
                  </fieldset>
              </div>
              <div class="col-lg-3 align-self-center">
                  <fieldset>
                      <input type="text" name="address" class="searchText" placeholder="Enter year" autocomplete="on" required>
                  </fieldset>
              </div>
              <div class="col-lg-3 align-self-center">
                  <fieldset>
                      <select name="price" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                          <option selected>Subjects</option>
                          <option value="Geography">Geography</option>
                          <option value="Political">Political Science</option>
                          <option value="English">English Ltr.</option>
                          <option value="Hindi">Hindi</option>
                      </select>
                  </fieldset>
              </div>
              <div class="col-lg-3">                        
                  <fieldset>
                      <button class="main-button"><i class="fa fa-search"></i> Search Now</button>
                  </fieldset>
              </div>
            </div>
          </form>
        </div>
        <div class="col-lg-10 offset-lg-1">
          <ul class="categories">
            <li><a href="/category/"><span class="icon"><img src="/static/assets/images/search-icon-05.png" alt="Political"></span> Political</a></li>
            <li><a href="/category/"><span class="icon"><img src="/static/assets/images/search-icon-05.png" alt="Geography"></span> Geography</a></li>
            <li><a href="/category/"><span class="icon"><img src="/static/assets/images/search-icon-05.png" alt="English"></span> English</a></li>
            <li><a href="/category/"><span class="icon"><img src="/static/assets/images/search-icon-05.png" alt="Science"></span> Home Science</a></li>
            <li><a href="/category/"><span class="icon"><img src="/static/assets/images/search-icon-05.png" alt="Hindi"></span> Hindi</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% for paper in papers %}
  {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 or forloop.counter == 4 %}
  <div class="popular-categories">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>{{paper.paper_categorys}}</h2>
            <h6>{{paper.paper_names}}</h6>
          </div>
        </div>
      
        <div class="col-lg-12">
          <div class="naccs">
            <div class="grid">
              <div class="row">
                <div class="col-lg-3">
                  <div class="menu">
                   
                    <div class="first-thumb active">
                      <div class="thumb">
                        <span class="icon"><img src="/static/assets/images/search-icon-05.png" alt=""></span>
                        {{paper.paper_names}}
                      </div>
                    </div>
                   
                  </div>
                </div> 
               
                <div class="col-lg-9 align-self-center">
                  <ul class="nacc">
                    <li class="active">
                      <div>
                        <div class="thumb">
                          <div class="row">
                            <div class="col-lg-5 align-self-center">
                              <div class="left-text">
                                <h4>{{paper.paper_title}}</h4>
                                <p>{{paper.paper_disc}}</p>
                                <div class="main-white-button"><a href="/notes/"><i class="fa fa-eye"></i> Discover More</a></div>
                              </div>
                            </div>
                            <div class="col-lg-7 align-self-center">
                              <div class="right-image">
                                <img src="/media/{{paper.paper_images}}" alt="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>          
               
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}

  <div class="recent-listing">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <h2>Recent Adding</h2>
            <h6>Check Them Out</h6>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="owl-carousel owl-listing">
            <div class="item">
              <div class="row">
                {% for paper in papers %}
                {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %}
                <div class="col-lg-12">
                  <div class="listing-item">
                    <div class="left-image">
                      <a href="/notes/"><img src="/media/{{paper.paper_images}}" alt=""></a>
                    </div>
                    <div class="right-content align-self-center">
                      <a href="/notes/"><h4>{{paper.paper_names}}</h4></a>
                      <h6>by: {{paper.user_name}}</h6>
                      <ul class="rate">
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li>(18) Reviews</li>
                      </ul>
                      <span class="price"><div class="icon"><img src="/static/assets/images/book.png" alt=""></div> Thank you for RRBMU</span>
                      <span class="details">Details: <em>Recently Added</em></span>
                      <ul class="info">
                        <li><img src="/static/assets/images/search-icon-05.png" alt=""> Read</li>
                        <li><img src="/static/assets/images/search-icon-05.png" alt=""> Write</li>
                      </ul>
                      <div class="main-white-button">
                        <a href="/contact/"><i class="fa fa-eye"></i> Contact Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="item">
              <div class="row">
                {% for note in notes %}
                {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %}
                <div class="col-lg-12">
                  <div class="listing-item">
                    <div class="left-image">
                      <a href="/notes/"><img src="/media/{{note.note_images}}" alt=""></a>
                    </div>
                    <div class="right-content align-self-center">
                      <a href="/notes/"><h4>{{note.note_names}}</h4></a>
                      <h6>by: {{note.user_name}}</h6>
                      <ul class="rate">
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li>(18) Reviews</li>
                      </ul>
                      <span class="price"><div class="icon"><img src="/static/assets/images/book.png" alt=""></div> Thank you for Lords University</span>
                      <span class="details">Details: <em>Recently Added</em></span>
                      <ul class="info">
                        <li><img src="/static/assets/images/search-icon-05.png" alt=""> Read</li>
                        <li><img src="/static/assets/images/search-icon-05.png" alt=""> Write</li>
                      </ul>
                      <div class="main-white-button">
                        <a href="/contact/"><i class="fa fa-eye"></i> Contact Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            <div class="item">
              <div class="row">
                {% for paper in papers %}
                {% if forloop.counter == 1 or forloop.counter == 2 or forloop.counter == 3 %}
                <div class="col-lg-12">
                  <div class="listing-item">
                    <div class="left-image">
                      <a href="/notes/"><img src="/media/{{paper.paper_images}}" alt=""></a>
                    </div>
                    <div class="right-content align-self-center">
                      <a href="/notes/"><h4>{{paper.paper_names}}</h4></a>
                      <h6>by: {{paper.user_name}}</h6>
                      <ul class="rate">
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li>(18) Reviews</li>
                      </ul>
                      <span class="price"><div class="icon"><img src="/static/assets/images/book.png" alt=""></div> Thank you for RRBMU</span>
                      <span class="details">Details: <em>Recently Added</em></span>
                      <ul class="info">
                        <li><img src="/static/assets/images/search-icon-05.png" alt=""> Read</li>
                        <li><img src="/static/assets/images/search-icon-05.png" alt=""> Write</li>
                      </ul>
                      <div class="main-white-button">
                        <a href="/contact/"><i class="fa fa-eye"></i> Contact Now</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
 